.popup__container{
    margin:0;
    padding:34px 36px 37px 36px;
    position:relative;
    max-width: 430px;
    max-height: 330px;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    border-radius: 10px;
    position: fixed;
}