.profile{
    padding: 0;
    padding-top: 42px;
    padding-bottom: 50px;
    display:flex;
    justify-content: space-between;
    max-width: 880px;
    width: calc(100% - 2 * 19px);
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (max-width: 640px){
    .profile{
        flex-direction: column;
        align-items: center;
        padding-bottom: 36px;
    }
}