.profile__edit-button {
  margin:0;
  padding:0;
  background: transparent url('../../../images/Vector_mini.svg');
  border: 1px solid #FFF;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;
  background-position:center;
  background-repeat: no-repeat;
  grid-area:edit;
  align-self: flex-end; 
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}
