.element__group {
  opacity:1.0;
  transition: all 0.4s ease-in-out;
  border:none;
  height: 19px;
  width: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin:22px 0 3px 0;
  display:block;
  background: transparent url(../../../images/group.svg);
}

.element__group:hover {
  cursor: pointer;
  opacity:0.5;
}

