.element__rectangle {
	display: flex;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 20px;
	margin: 0px 20px 0 22px;
	padding: 0 0 26px;
	display:flex;
	justify-content: space-between;
}